/* Colors */
$bg-darkest: #191919;
$bg-dark: #282828;

$grey-darkest: #333333;
$grey-dark: #979797;
$grey-medium: #bababa;
$grey-light: #e3e3e3;
$grey-lightest: #f5f5f2;
$orange-dark: #f58220;
$orange-light: #ffa200;
$green-dark: #04ae00;
$mint-medium: #74b67a;
$mint-light: #96cc9b;
$pink-dark: #de5252;
$pink-light: #ec7171;
$blue: #56819f;
$red: #ff0000;
$seagull: #80bfca;


/* Fonts */
$size-regular: 16px;
$size-small: 13px;
$weight-light: 300;
$weight-regular: 400;
$weight-medium: 500;
$weight-bold: 700;

/* Globals */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Scrollbar */
 
*::-webkit-scrollbar {
  width: 15px;
  background-color: pink;
}
*::-webkit-scrollbar-button {
  height: 0px;
  width: 0px;
  background-color: $grey-light;
}
*::-webkit-scrollbar-thumb {
  background-color: $grey-light;
}
*::-webkit-scrollbar-track {}
*::-webkit-scrollbar-track-piece {
  background-color: $grey-dark;
}
*::-webkit-scrollbar-corner {
  background: $grey-light;
}
*::-webkit-resizer {}
