@import '../variables';

.section--topbar-ss {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 35px 0;
	border-top: 0.25px solid $grey-dark;
}

.section--topbar-ss .ss-link {
	margin: 2px;
	fill: $grey-dark;
	&:hover, &.active {
		color: #ffffff;
		background-color: $grey-darkest;
		fill: #ffffff;
	}
}

.section--topbar-ss svg {
	max-height: 14px;
	width: 18px;
	margin: 16px;
}

.section--topbar-ss .ss-bold {
	color: $grey-dark;
	font-weight: $weight-medium;
}
.section--topbar-ss span {
	color: $blue;
	font-size: $size-small;
	&:hover {
		color: $orange-light;
	}
}

@media (min-width: 768px) {
	.section--topbar-ss {
		display: none;
	}
}